# Core numerical libraries
numpy==1.26.4
pandas==1.3.5

# Machine learning and vectorization tools
scikit-learn==1.0.2

# Natural language processing libraries (if needed)
nltk==3.8.1
pymorphy3
cupy
scikit-learn
chromadb
python-dotenv
tqdm
aiofiles
umap
bokeh
sentence_transformers
torch

# Optional: For working with Jupyter notebooks
jupyterlab==3.2.5
